.git
.gitignore
*.bin
*.pyc
__pycache__
.venv
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis
*create_llm_project_summary.txt
*gen.py
*tokenized_dataset.bin
*train.bin
*val.bin
*__pycache__
*learning_detail_latest.txt
*latest_checkpoint.bin
*best_checkpoint.bin
